---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

// Theme skin
@import "basically-basic/themes/{{ site.data.theme.skin | default: 'default' }}";

@import "basically-basic";

// Custom styling for mermaid class
.mermaid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }


// Responsive styling
@media only screen and (max-width: 600px) {
  .mermaid {
      width: 100%;  // Adjust mermaid diagrams to fit the screen width
      padding: 0 10px;  // Add some padding for better readability on small screens
  }

  body {
      font-size: 16px;  // Adjust the font size for readability on mobile
      line-height: 1.5; // Increase line-height for better spacing on small screens
  }

  // Example of adjusting the main content area
  .content {
      padding: 15px;
  }

  // Adjust any other elements that might need resizing or padding adjustments for mobile
  .header,
  .footer {
      padding: 10px 15px;
      text-align: center; // Center align header and footer content on mobile
  }
}